/* Container - Grey Color */
.greycolor {
    background-color: #f0f0f0;
    position: relative;
    overflow: hidden;
    padding: 4em 60px 3em 60px;
}

/* Widgets */
    .widget.h3 {
        font-style: italic;
    }

	.widget.thumbnails .grid {
		margin: 0 0 3em 0;
	}

	.widget.thumbnails .image {
		margin: 0;
	}

	.widget.contact ul {
		overflow: hidden;
		position: relative;
		left: -4px;
		top: 4px;
		margin-bottom: 1.5em;
	}

		.widget.contact ul li {
			display: inline-block;
			margin-right: 0.25em;
		}

			.widget.contact ul li a {
				-moz-transition: background-color .25s ease-in-out;
				-webkit-transition: background-color .25s ease-in-out;
				-ms-transition: background-color .25s ease-in-out;
				transition: background-color .25s ease-in-out;
				display: inline-block;
				width: 2.5em;
				height: 2.5em;
				text-align: center;
				line-height: 2.5em;
				border-radius: 0.35em;
				outline: 0;
				opacity: 0.75;
				text-decoration: none;
				background: #222222;
			}

				.widget.contact ul li a:before {
					color: #f3f3f3;
					font-size: 1.75em;
					line-height: 1.5em;
				}

				.widget.contact ul li a:hover {
					background: #444444;
				}

				.widget.contact ul li a:active {
					background: #666666;
				}


/* Gallery Collage */
/*https://css-tricks.com/seamless-responsive-photo-grid/*/

#photosgallery {
   /* Prevent vertical gaps */
   /*line-height: 0;*/
   line-height: normal;

   -webkit-column-count: 3;
   -webkit-column-gap:   1.5em;
   -moz-column-count:    3;
   -moz-column-gap:      1.5em;
   column-count:         3;
   column-gap:           1.5em;
   /*padding: 1em 2em;*/

}

#photosgallery img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

@media (max-width: 1200px) {
  #photosgallery {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 1000px) {
  #photosgallery {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 800px) {
  #photosgallery {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photosgallery {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

.containergallery {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 736px) {
    .photosgallerycaption {
        margin: 0 0 1em 0;
    }
}

@media screen and (min-width: 737px) and (max-width: 1200px) {
    .photosgallerycaption {
        margin: 0 0 0.5em 0;
    }
}

.photosgallerydesc {
    padding: 0 0 1em 0;
}

.imageincontainer {
    width: 100%;
    height: auto;
}

.colorbody {
    background-color: white !important;
    background: white !important;
}

.productimagemedium {
    font-style: italic;
}

.socialmedialogos {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 3px;
    border: none;
    border-radius: 8px;
}

a .socialmedialogos {
    text-decoration: none !important;
    border-bottom: none 0px white !important;
}

.addtransparency {
    opacity: 0.9;
}
